.light {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.dark {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.head {
  font-family: 'Quicksand', sans-serif;
  //font-size: 4vw;
  display: inline;
}

.item {
  font-size: larger;
}

.link {
  color: white;
}

